@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* NanumSquareNeo */
body {
  font-family: 'NanumSquareNeo', sans-serif;
}

.Neo-Light {
  font-family: 'NanumSquareNeoLight';
}

.Neo-Bold {
  font-family: 'NanumSquareNeoBold';
}

.Neo-ExtraBold {
  font-family: 'NanumSquareNeoExtraBold';
}

.Neo-Heavy {
  font-family: 'NanumSquareNeoHeavy';
}

/* style */

.bg-primary {
  @apply bg-stone-50 dark:bg-neutral-800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-neutral-900 dark:text-neutral-200;
}

footer {
  @apply dark:text-gray-100 text-gray-600 bg-gray-100 dark:bg-slate-600/20;
}

a {
  @apply text-gray-900 hover:text-sky-600;
}

p {
  @apply text-neutral-800 dark:text-neutral-200;
}

.projectCard {
  @apply flex flex-col rounded-xl duration-300 border border-gray-300 shadow-md shadow-neutral-300
  hover:scale-105 hover:shadow-neutral-500 bg-neutral-100 dark:bg-neutral-700 dark:shadow-neutral-400;
}

.cardDemoRepo {
  @apply px-2 py-1 mr-2 rounded-md bg-gray-200 text-neutral-500 dark:bg-neutral-500 dark:text-neutral-700 dark:hover:text-sky-300;
}
